legend {
    font-size: inherit;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
}

._pl-5 {
    padding-left: 3rem;
}

.modal-layout {
    display: flex;
    flex-direction: column;
}

.modal-layout > div {
    width: 100%;
    margin-bottom: 1rem;
}

.modal-layout .checkboxfield-active,
.checkboxfield-archived {
    display: flex;
    margin-top: 0.5rem;
}

.modal-layout .checkboxfield-active label,
.checkboxfield-archived label {
    margin-right: 1rem;
}
